@charset "ISO-8859-1";

body {	
	background-image: url('../images/boot.jpg');
	background-size: 100%;
	color:#FFFFFF;
	font-size:20px;
	padding-right: 20px;
}

form { 
	color:#E4287C;
	font-size:20px;
	padding-right: 20px;
}

input { 
	color:#E4287C;
	margin-right: 5px;
}

span {
	margin-right: 5px;
}

H1 {
	color:#E4287C;
}

p {
	color:green;
}

table {
width:100%;
color:#E4287C;
background: rgba(25, 80, 176, 0.3)	
	
}

a {
	color:#FFFFFF;
	font-size:20px;
}

tr {
	color:#E4287C;
	background-color: none;
}
.selected {
	color:white;
	background-color: red;
}

.error {
	color:white;
	background-color: red;
}

