@media screen and (max-device-width: 320px)
{ #style.css {
	margin-right: 10px;
}
	

body {
  font-family: Helvetica;
  padding: 15px;
  background-color: whitesmoke;
}

h4{
	font-size: 100%;
text-align: center;
}

div#header{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 20%;
background-color: #FFC0CB;
z-index: 100;
 
}

.login{

	/*padding-left: 5%; 
	width: 30%;
	padding-top: 0;
	text-align: middle;*/
	padding-top:1%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.knoppen {
	padding-top:35%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: middle;
}

.huur {
  background-color: #FF7F7F;
}

.registreer {
  background-color: #FF7F7F;
}

.contact {
  background-color: #FF7F7F;
}

.huur,
.registreer,
.contact {
	heigth: 10%;
width: fixed;
  padding: 10% 30% 20% 20%;
  color: whitesmoke;
  text-align: middle;
}


.projects-button {
  padding:  10% 30%;
  background-color: whitesmoke;
  opacity: 0.9;
  width: 50%;
  color: black;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

.projects {
  margin: 30% ;
}

.active {
  background-color: #333333;
  color: whitesmoke;
}
}